/*
*{
    margin: 0;
    padding: 0;
} */
body {
    background-color: #282C34;
    margin: 0;
}
nav{
    display: flex;
  /*  position: fixed;*/
}
.Main-container{
    width: 80%; 
    margin: auto; 
    padding: 5%;  
   
}
.img-box{
    max-width: 100%;
    height: 2em;
    border-radius: 50%;
}
.Search-container{
    margin: 5%;
    padding: 5% ;
   
}
.Search-container h1{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-weight: lighter;  
    margin: 2%;
    text-align: center;
}
.search-box-container{
    align-self: center;
    margin: 5%;
    padding: 5%;
    
}
.search-box{
  padding: 0%;
}
.img-search{
    max-width: 100%;
    height: 2em;
}