/*
*{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: space-around;
} */
body {
    background-color: #282C34;
    margin: 0%;  
}


.Main-container{
    margin: 0%;
    padding: 2%; 
    border: none; 
   
}
.container-1{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;  
}
.container-1 .box-1 {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-items: space-between;
}

.container-1 .box-2 {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-items: space-between; 
}
.box-1 .links{
    display: flex;
    padding-right: 43px;
    padding-top: 5px;
}
.box-2 .links{
    display: flex;
    padding-right: 43px; 
    padding-top: 5px;  
}
.box-2 .links .icon{
    width: 100%;
    height: 20px;
    padding-top: 2px;
}
.img-box{  
    max-width: 100%;
    height: 2em;
    border-radius: 50%;
}
a {
    color: #FFFFFF;  
    font-family: Arial, Helvetica, sans-serif; 
    text-decoration: none;
}
a :hover, :visited{
    background-color: azure;
}
.Search-container{
    margin: 5%;
    padding: 5% ;  
}
.Search-container .header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Search-container h1{
    display: flex;
    flex-direction: row;
    align-self: center;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;  
    margin: 2%;
    text-align: center;
}
.blue{
    color: #3BB99B;
}
.white{
    color: #FFFFFF;
}

.search-box-parent{
    align-self: center;
    margin: 5%;
    padding: 148,257,239,258;
    
}
.search-box-parent .search-box{
    padding-top: 51;
    padding-bottom: 51;
    display: inline;  
}

.Search-container input{
    padding: 8px;
    width: 100%;
    border-radius: 20px;
}
.img-search{
    max-width: 100%;
    height: 2em;
}